

.title-H {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  text-shadow: 4px 2px 6px #00000057;
  padding: 1rem;
}

.red {
  color: rgb(235, 65, 65);
}


.img-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.img-container > img {
  width: 317px;
  height: 273px;
  margin: 10px;
  border-radius: 50%;

}


p {
  text-align: center;
  color: rgba(214, 139, 166, 0.8);
  text-transform: uppercase;
}


.h4 ,h4 {
  color: rgb(192 165 167);
}



.hdt{
  column-gap: 100px;

}


.navbar-brand {
  display:inline-flex ; 
  column-gap: 7%;
}